<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatch - Login/Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<% if(error.length>0){ %>
    <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
    <% } %>
<body class="bg-gray-50">
    <!-- Notification -->
   
    <!-- Main Content -->
    <div class="flex flex-col lg:flex-row h-screen">
        <!-- Register Section -->
        <div class="lg:w-1/2 flex items-center justify-center p-8 lg:px-20">
            <div class="w-full max-w-md">
                <h3 class="text-4xl">Welcome to <span class="text-blue-400 font-semibold">Scatch</span></h3>
                <h4 class="text-2xl mb-5">Create your account</h4>
                <form autocomplete="off" action="/users/register" method="post">
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="text" placeholder="Full Name" name="fullname" required>
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="email" placeholder="Email" name="email" required>
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="password" placeholder="Password" name="password" required>
                    <input
                        class="px-5 py-3 mt-2 bg-blue-500 text-white rounded-full w-full" 
                        type="submit" value="Create My Account">
                </form>
            </div>
        </div>

        <!-- Login Section -->
        <div class="lg:w-1/2 flex items-center justify-center p-8 lg:px-20 bg-white">
            <div class="w-full max-w-md">
                <h4 class="text-2xl capitalize mb-5">Login your account</h4>
                <form autocomplete="off" action="/users/login" method="post">
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="email" placeholder="Email" name="email" required>
                    <input
                        class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="password" placeholder="Password" name="password" required>
                    <input
                        class="px-5 py-3 mt-2 bg-blue-500 text-white rounded-full w-full" 
                        type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
